<template>
  <div class="trip-map">
    <l-map
        ref="map"
        @click="onMapClick"
        :zoom="zoom"
        :center="[
          userLocation.lat || defaultLocation.lat,
          userLocation.lng || defaultLocation.lng
      ]"
    >
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
      <v-geosearch :options="geoSearchOptions"></v-geosearch>
      <l-marker
          v-if="position.lat && position.lng && positions.length === 1"
          visible
          :icon="icon"
          :lat-lng.sync="positions[0]"
          draggable
      >
      </l-marker>
      <l-marker
          v-if="position.lat && position.lng && positions.length === 2"
          visible
          :icon="icon"
          :lat-lng.sync="position"
          draggable
      >
      </l-marker>

      <div v-for="route in routes">
        <l-polyline :lat-lngs="route.polyline" :color="'blue'"></l-polyline>
      </div>

      <l-polyline
          :lat-lngs="dashesPolyline"
          :color="'grey'"
          fill
          :weight="5"
          :fillOpacity="0"
          :dashArray="'5, 10'"
          :dashOffset="'20'"
      >

      </l-polyline>

    </l-map>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Ref, Vue, Watch} from 'vue-property-decorator';
import {LMap, LMarker, LPolyline, LTileLayer, LTooltip} from "vue2-leaflet";
import {Location} from "@/components/map/model/location";
import {OpenStreetMapProvider} from 'leaflet-geosearch';
import {icon} from "leaflet";
import VGeosearch from 'vue2-leaflet-geosearch';
import axios from 'axios'
import {getRoutes} from "@/store/api";
import {Step, Tour} from "@/components/map/model/route";

@Component({
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LTooltip,
    LPolyline,
    VGeosearch
  }
})
export default class Map extends Vue {
  private url = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  private attribution = '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors';
  private defaultLocation: Location = {lat: 49.74079, lng: 19.5905975}
  private zoom = 15;
  private userLocation = {} as Location;
  private position = {} as Location;
  private positions: Location[] = [];
  private geoSearchOptions = {
    provider: new OpenStreetMapProvider(),
    showMarker: true,
    autoClose: true
  }

  @Prop() private value!: Record<string, never>;
  private icon = icon({
    iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
    iconUrl: require("leaflet/dist/images/marker-icon.png"),
    shadowUrl: require("leaflet/dist/images/marker-shadow.png"),
    iconAnchor: [16, 45]
  })
  private address = ""
  private polyline: number[][] = [];
  private dashesPolyline: number[][] = [];
  private lastPolylineElement: number[] = [];
  private routes: RouteToDraw[] = [];

  @Ref() map!: LMap;

  public async getUserPosition(): Promise<void> {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(position => {
        this.userLocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        }
      })
    }
  }

  public mounted() {
    this.getUserPosition();
    this.map.mapObject.on("geosearch/showlocation", this.onSearch);
  }

  @Watch('position', { deep: true })
  async handle(location: any) {
    if (this.positions.length == 2) this.getRoute();
    else {
      this.polyline = []
      this.dashesPolyline = []
    }
  }


  private drawStraightLine() {
    this.lastPolylineElement = this.polyline[this.polyline.length - 1];
    this.dashesPolyline.push(this.lastPolylineElement)
    this.dashesPolyline.push([this.position.lat, this.position.lng])
  }

  // private getRoute() {
  //   this.dashesPolyline = [];
  //   this.polyline = [];
  //   getRoutes(this.positions[0], this.positions[1])
  //       .then((response: RouteResponse) => {
  //         response.routes[0].legs[0].steps.forEach((step: Step) => {
  //           step.geometry.coordinates.forEach((coordinate: number[]) => {
  //             this.polyline.push(coordinate.reverse());
  //       })
  //     });
  //        this.drawStraightLine();
  //   })
  //   .catch(console.error)
  // }

  private getRoute() {
    this.routes = [];
    getRoutes(this.positions[0], this.positions[1])
        .then((tours: Tour[]) => {
          tours.forEach(tour => {
            const route = {polyline: []} as RouteToDraw
            tour.routes[0].legs[0].steps.forEach((step: Step) => {
              step.geometry.coordinates.forEach((coordinate: number[]) => {
                route.polyline.push(coordinate.reverse());
              })
            });
            this.routes.push(route);
            console.log(this.routes)
          })
        })
        .catch(console.error)
  }

  public onMapClick(value: any) {
    this.position = value.latlng;
    if (this.positions.length == 2) this.positions = [];
    this.positions.push(this.position)
  }

  onSearch(value: any) {
    const loc = value.location;
    this.position = {lat: loc.y, lng: loc.x};
  }
}
</script>

<style scoped lang="scss">
.trip-map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
</style>
