<template>
  <div class="register-container">
    <div class="logo">
      <img src="@/assets/password-login-svgrepo-com.svg">
    </div>
    <form>
      <ValidationObserver v-slot="{ invalid }" class="register-form">
        <ValidationProvider rules="required" v-slot="{ errors, valid }">
          <b-field :type="{ 'is-danger': errors[0], 'is-success': valid }" :message="errors">
            <b-input class="input-field" v-model="name" placeholder="Imię" required></b-input>
          </b-field>
        </ValidationProvider>

        <ValidationProvider rules="required" v-slot="{ errors, valid }">
          <b-field :type="{ 'is-danger': errors[0], 'is-success': valid }" :message="errors">
            <b-input class="input-field" v-model="surname" placeholder="Nazwisko" required></b-input>
          </b-field>
        </ValidationProvider>

        <ValidationProvider rules="required|email" v-slot="{ errors, valid }">
          <b-field :type="{ 'is-danger': errors[0], 'is-success': valid }" :message="errors">
            <b-input class="input-field" v-model="email" placeholder="Email" required></b-input>
          </b-field>
        </ValidationProvider>

        <ValidationProvider rules="required" v-slot="{ errors, valid }">
          <b-field :type="{ 'is-danger': errors[0], 'is-success': valid }" :message="errors">
            <b-input class="input-field" v-model="login" placeholder="Login" required></b-input>
          </b-field>
        </ValidationProvider>

        <ValidationProvider rules="required" vid="password" v-slot="{ errors, valid }">
          <b-field :type="{ 'is-danger': errors[0], 'is-success': valid }" :message="errors">
            <b-input class="input-field" type="password" v-model="password" placeholder="Twoje hasło" required></b-input>
          </b-field>
        </ValidationProvider>

        <ValidationProvider rules="required|confirmed:password" v-slot="{ errors, valid }">
          <b-field :type="{ 'is-danger': errors[0], 'is-success': valid }" :message="errors">
            <b-input class="input-field" type="password" v-model="theSamePassword" placeholder="Powtórz hasło" required> </b-input>
          </b-field>
        </ValidationProvider>

        <button class="button registration-button" :disabled="invalid" @click="register()">Zarejestruj</button>
        <button type="button" class="button login-button" @click="cancel()">Anuluj</button>

      </ValidationObserver>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component';
import { ValidationProvider, ValidationObserver } from 'vee-validate'
@Component({
  components: {
    ValidationProvider,
    ValidationObserver
  }
})
export default class Registration extends Vue {
  private name = ''
  private surname = ''
  private email = ''
  private login = ''
  private password = ''
  private theSamePassword = ''
  register() {
   console.log('register')
  }
  cancel() {
    this.$router.push('/login')
  }
}
</script>

<style lang="sass" scoped>
@mixin for-phone-only
  @media (max-width: 1300px)
    @content
@mixin for-pc-only
  @media (min-width: 1301px)
    @content
.register-container
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  background: linear-gradient(180deg, #52B0F4 0%, rgba(169, 205, 232, 0) 100%)
.register-form
  display: flex
  flex-flow: column nowrap
  justify-content: center
.logo
  @include for-phone-only
    width: 15em
  @include for-pc-only
    width: 25em
.registration-button
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  background: #21D0C3
  border-radius: 20px
  max-width: 400px
  @include for-phone-only
    width: 10em
    height: 7vh
    font-size: 1.5em
  @include for-pc-only
    width: 30vw
    height: 50px
    font-size: 23px
.login-button
  @extend .registration-button
  background: #A6A3A3
</style>